<!DOCTYPE html>
<html>
<head>

  <title>OMDB Search Function</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="https://bootswatch.com/superhero/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container btn-default disabled">
  <div class="jumbotron btn-warning disabled">
    <h1 class="btn-primary container disabled">V.M.S. -<p>Video Media Search</p></h1>
    <hr>
    <div class="well btn-default disabled" >
      <%- body %>
    </div>
    <hr>
  </div>
</div>
</body>
</html>