<form class="text-center" action="/search" method="GET">
  <h2 class="btn-default disabled">OMDB Search</h2><hr>
  <div class="form-group">
    <input name="q" type="text" class="form-control" placeholder="Ω">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>